* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #661111;
  --primary-color: #eae3e1;
  --secondary-color: #6d2f2f;
  --dark-color: #0f172a;
  --light-color: #f8fafc;
  --accent-color: #ece544;
  --text-color: #f1e5e5;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}

/* Footer */
.footer {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--background-color);
  color: var(--text-color);
}
